<div class="row">
    <div class="col-12 ">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Usuario en línea de sellado</b></h1>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <form #buscarUsuario="ngForm" (ngSubmit)="onSubmitBuscarUsuarioForm(buscarUsuario)">
                <div class="form-row">

                    <div class="col-sm-3 my-1">
                        <label for="Desde:">Rut:</label>
                        <input type="text" #rut='ngModel' [(ngModel)]="rutBusqueda" name="rut" id="rut" class="form-control" placeholder="Rut colaborador">
                    </div>
                    <div class="col-sm-2 my-1">
                        <label for="Desde:">Desde:</label>
                        <input #dpFromDate class="form-control " placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="d.toggle()" placeholder="Desde">
                    </div>
                    <div class="col-sm-2 my-1">
                        <label for="">Hasta:</label>
                        <input #dpToDate class="form-control " placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" disabled placeholder="Hasta">
                    </div>
                    <div class="col-auto my-1">
                        <button class="ml-1 btn btn-primary btn-sm" (click)="buscarUsuarioPorRut()" type="submit " style="margin-top: 33px;">Buscar <i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group hidden">
                        <div class="input-group">
                            <input name="d" type="hidden" class="form-control" ngbDatepicker #d="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <hr>
        <div class="row justify-content-center">
            <div class="col-sm-4  align-self-end text-left ">
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle style="width: 200px">{{selectedCalibradorText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let calibrador of calibradores" (click)="changeSelectedCalibrador(calibrador)">{{calibrador.nombre}}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4  align-self-end text-left ">
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic2" ngbDropdownToggle style="width: 180px">{{selectedLineaText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button class="dropdown-item" *ngFor="let linea of lineas" (click)="changeSelectedLinea(linea)">{{linea.nombre}}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 align-self-end ">
                <button class="btn btn-primary  text-right" (click)="open(modal_agregar_usuario)"><i
                        class="fa fa-plus-circle"></i>
                    Agregar colaborador a línea
                </button>
            </div>
        </div>
        <hr>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" *ngIf="selectedCalibradorObject && selectedLineaObject" style="margin: 20px;">
            <h4>Lista de colaboradores en línea de sellado</h4>
        </div>
    </div>
    <!--Tabla de contenido-->
    <table class="table table-hover" *ngIf="selectedCalibradorObject && selectedLineaObject" id="excel-table">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Hora de inicio</th>
                <th scope="col">Fecha de termino</th>
                <th scope="col">Hora de termino</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuarioEnLinea of exportUsuarioEnLineaArray; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{usuarioEnLinea.RUT}}</td>
                <td>{{usuarioEnLinea.NOMBRE}}</td>
                <td>{{usuarioEnLinea.APELLIDO}}</td>
                <td>{{usuarioEnLinea.FECHA_INICIO}} </td>
                <td>{{usuarioEnLinea.HORA_INICIO}}</td>
                <td>{{usuarioEnLinea.TERMINO}}</td>
                <td>{{usuarioEnLinea.HORA_TERMINO}}</td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12  align-self-end " *ngIf="selectedCalibradorObject && selectedLineaObject">
        <div class="text-right">
            <button class="btn btn-primary  text-right" (click)="exportarArchivoExcel()"><i class="fas fa-download"></i>
                Exportar a excel
            </button>
        </div>
    </div>
</div>


<!--modal agregar-->
<ng-template #modal_agregar_usuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar colaborador a linea</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <div class="form-group">
                <!--<label for="lineaLabel"><b>Calibrador:</b></label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle style="width: 250px; margin: 10px">{{selectedCalibradorText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let calibrador of calibradores" (click)="changeSelectedCalibrador(calibrador)">{{calibrador.nombre}}</button>
                    </div>
                </div>
                <br>
                <label for="lineaLabel"><b>Linea:</b></label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="width: 250px; margin: 10px">{{selectedLineaText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let linea of lineas" (click)="changeSelectedLinea(linea)">{{linea.nombre}}</button>
                    </div>
                </div>-->
                <br>
                <label for="lineaLabel"><b>Colaborador:</b></label>
                <div ngbDropdown>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="width: 250px; margin: 10px">{{selectedUsuarioText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let usuario of usuarios" (click)="changeSelectedUsuario(usuario)">{{usuario.nombre +' '+ usuario.rut}}</button>
                    </div>
                </div>
                <br>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="agregarUsuarioEnLinea(myform);modal.close('Save click')">Agregar</button>
        </div>
    </div>
</ng-template>
<!--fin modal agregar-->

<!--Modal confirmación-->
<ng-template #mymodalconfirmar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Colaborador registrado</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Colaborador se encuentra registrado en otra línea</p>
        <p>¿Seguro que quieres cambiar línea de trabajo?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion-->