<div class="row justify-content-start" style="padding-right: 200px;">
    <div class="col-12 text-left">
        <div class="row">
            <div class="col-12 text-left">
                <div class="container">
                    <div class="login">
                        <div class="login-triangle"></div>
                        <h2 class="login-header">Log in</h2>

                        <form #formLogin="ngForm" class="login-container" (ngSubmit)=onLogin(formLogin)>
                            <p><input type="rut" #rut='ngModel' name="rut" ngModel placeholder="Ej: 9605009-7" required maxlength="10" rutValidationAuth></p>
                            <div *ngIf="rut.invalid && (rut.dirty || rut.touched)" class="alert alert-danger">
                                <div *ngIf="rut.errors.required">
                                    Rut es obligatorio
                                </div>
                                <div *ngIf="rut.errors.rutValidation">
                                    {{rut.errors.rutValidation.message}}
                                </div>
                            </div>
                            <p><input type="password" name=password ngModel placeholder="Password" required></p>
                            <p><input type="submit" value="Log in"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-12 text-center">
                <img src="/assets/images/danichlogoextendido.png" width="400px" alt="Danich">
            </div>
        </div>
    </div>
</div>

<!--Modal error de credenciales-->
<ng-template #mymodalError12Credentials let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Credenciales Inválidas</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>El rut o contraseña ingresado es incorrecto</p>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal error de credenciales-->