<div class="row" style="padding-top: 25px;">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Cajas</b></h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-6 align-self-start">
                <div class="form-row">
                    <div class="col-sm-6 my-1">
                        <label for="">Buscar</label>
                        <div class="form-group">
                            <div class="input-group">
                                <input #dpToDate class="form-control  ml-1" placeholder="id o envase" name="idEnvase">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button class="ml-1 btn btn-primary" (click)="buscarPorFecha()" type="submit " style="margin-top: 33px;">Buscar
              <i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-6 align-self-center mt-2 text-right">
                <button class="btn btn-primary" *ngIf="rol != 2" (click)="open(mymodalagregar)"> <i class="fas fa-plus-circle"></i> Agregar
          caja</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="text-left">Lista de cajas</h4>
            </div>
        </div>
        <form #buscarPatenteRobadaForm="ngForm">
            <!--Tabla de contenido-->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Envase</th>
                        <th scope="col">Variedad</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Calibre</th>
                        <th scope="col">Correlativo</th>
                        <th scope="col">Ponderación</th>
                        <th *ngIf="rol != 2" scope="col">Editar</th>
                        <th *ngIf="rol != 2" scope="col">Eliminar</th>
                        <th *ngIf="rol == 2" scope="col"> </th>
                        <th *ngIf="rol == 2" scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let caja of cajas; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{caja.envase }}</td>
                        <td>{{caja.variedad}}</td>
                        <td>{{caja.categoria}}</td>
                        <td>{{caja.calibre}}</td>
                        <td>{{caja.correlativo}}</td>
                        <td>{{caja.ponderacion}}</td>
                        <td>
                            <button class="btn btn-primary text-white mr-1" *ngIf="rol != 2" (click)="onEditar(caja);open(mymodaleditar)">
                <i class="fa fa-edit"></i>
              </button>
                        </td>
                        <td>
                            <button class="btn btn-danger text-white mr-1" *ngIf="rol != 2" (click)="onEliminar(caja,mymodalconfirmar)">
                <i class="fa fa-trash-alt"></i>
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

<!--modal agregar-->
<ng-template #mymodalagregar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar caja</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <div class="form-group">
                <label for="lineaLabel"><b>Envase Caja:</b></label>
                <div class="input-group">
                    <input type="text" #envase='ngModel' [(ngModel)]="envaseCaja" name="envase" id="envase" class="form-control" placeholder="Envase" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario envase-->
                <div *ngIf="envase.invalid && (envase.dirty || envase.touched)" class="alert alert-danger">
                    <div *ngIf="envase.errors.required">
                        Envase de caja es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Variedad Caja:</b></label>
                <div class="input-group">
                    <input type="text" #variedad='ngModel' [(ngModel)]="variedadCaja" name="variedad" id="variedad" class="form-control" placeholder="Variedad" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario variedad-->
                <div *ngIf="variedad.invalid && (variedad.dirty || variedad.touched)" class="alert alert-danger">
                    <div *ngIf="variedad.errors.required">
                        Variedad de caja es obligatorio
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="lineaLabel"><b>Categoria Caja:</b></label>
                <div class="input-group">
                    <input type="text" #categoria='ngModel' [(ngModel)]="categoriaCaja" name="categoria" id="categoria" class="form-control" placeholder="Categoria" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario categoria-->
                <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
                    <div *ngIf="categoria.errors.required">
                        Categoria de caja es obligatorio
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="lineaLabel"><b>Calibre Caja:</b></label>
                <div class="input-group">
                    <input type="text" #calibre='ngModel' [(ngModel)]="calibreCaja" name="calibre" id="calibre" class="form-control" placeholder="Calibre" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario calibre-->
                <div *ngIf="calibre.invalid && (calibre.dirty || calibre.touched)" class="alert alert-danger">
                    <div *ngIf="calibre.errors.required">
                        Calibre de caja es obligatorio
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="lineaLabel"><b>Correlativo Caja:</b></label>
                <div class="input-group">
                    <input type="text" #correlativo='ngModel' [(ngModel)]="correlativoCaja" name="correlativo" id="correlativo" class="form-control" placeholder="Correlativo" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario correlativo-->
                <div *ngIf="correlativo.invalid && (correlativo.dirty || correlativo.touched)" class="alert alert-danger">
                    <div *ngIf="correlativo.errors.required">
                        Correlativo de caja es obligatorio
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="lineaLabel"><b>Ponderacion Caja:</b></label>
                <div class="input-group">
                    <input type="text" #ponderacion='ngModel' [(ngModel)]="ponderacionCaja" name="ponderacion" id="ponderacion" class="form-control" placeholder="Ponderacion" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>
                <!--Valida formulario ponderacion-->
                <div *ngIf="ponderacion.invalid && (ponderacion.dirty || ponderacion.touched)" class="alert alert-danger">
                    <div *ngIf="ponderacion.errors.required">
                        Ponderacion de caja es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="agregarCaja(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal agregar-->

<!--modal editar-->
<ng-template #mymodaleditar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Caja</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentCajaSelected.id" name="id" id="id">
            </div>
            <div class="form-group">
                <label for="patentelabel"><b>Envase caja:</b></label>
                <div class="input-group">
                    <input type="text" #envase='ngModel' [(ngModel)]="currentCajaSelected.envase" name="envase" id="envase" class="form-control" placeholder="Envase" required>
                </div>
                <!--Valida formulario envase-->
                <div *ngIf="envase.invalid && (envase.dirty || envase.touched)" class="alert alert-danger">
                    <div *ngIf="envase.errors.required">
                        Envase de caja es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="patentelabel"><b>Variedad caja:</b></label>
                <div class="input-group">
                    <input type="text" #variedad='ngModel' [(ngModel)]="currentCajaSelected.variedad" name="variedad" id="variedad" class="form-control" placeholder="Variedad" required>
                </div>
                <!--Valida formulario variedad-->
                <div *ngIf="variedad.invalid && (variedad.dirty || variedad.touched)" class="alert alert-danger">
                    <div *ngIf="variedad.errors.required">
                        Variedad de caja es obligatorio
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="patentelabel"><b>Categoria caja:</b></label>
                <div class="input-group">
                    <input type="text" #categoria='ngModel' [(ngModel)]="currentCajaSelected.categoria" name="categoria" id="categoria" class="form-control" placeholder="Categoria" required>
                </div>
                <!--Valida formulario categoria-->
                <div *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)" class="alert alert-danger">
                    <div *ngIf="categoria.errors.required">
                        Categoria de caja es obligatorio
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="patentelabel"><b>Calibre caja:</b></label>
                <div class="input-group">
                    <input type="text" #calibre='ngModel' [(ngModel)]="currentCajaSelected.calibre" name="calibre" id="calibre" class="form-control" placeholder="Calibre" required>
                </div>
                <!--Valida formulario calibre-->
                <div *ngIf="calibre.invalid && (calibre.dirty || calibre.touched)" class="alert alert-danger">
                    <div *ngIf="calibre.errors.required">
                        Calibre de caja es obligatorio
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="patentelabel"><b>Correlativo caja:</b></label>
                <div class="input-group">
                    <input type="text" #correlativo='ngModel' [(ngModel)]="currentCajaSelected.correlativo" name="correlativo" id="correlativo" class="form-control" placeholder="Correlativo" required>
                </div>
                <!--Valida formulario correlativo-->
                <div *ngIf="correlativo.invalid && (correlativo.dirty || correlativo.touched)" class="alert alert-danger">
                    <div *ngIf="correlativo.errors.required">
                        Correlativo de caja es obligatorio
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="patentelabel"><b>Ponderacion caja:</b></label>
                <div class="input-group">
                    <input type="text" #ponderacion='ngModel' [(ngModel)]="currentCajaSelected.ponderacion" name="ponderacion" id="ponderacion" class="form-control" placeholder="Ponderacion" required>
                </div>
                <!--Valida formulario ponderacion-->
                <div *ngIf="ponderacion.invalid && (ponderacion.dirty || ponderacion.touched)" class="alert alert-danger">
                    <div *ngIf="ponderacion.errors.required">
                        Ponderacion de caja es obligatorio
                    </div>
                </div>
            </div>

        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="editarCaja(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->

<!--Modal confirmación-->
<ng-template #mymodalconfirmar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar caja</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>¿Seguro que quieres eliminar el caja?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion-->