<div class="row">
    <div class="col-12" style="margin-block-end: 20px; margin-top: 20px;">
        <h1 class="text-center"><b>Producción por calibrador</b></h1>
    </div>
</div>

<div class="col-12; no-printme">
    <form #buscarUsuario="ngForm" (ngSubmit)="onSubmitBuscarUsuarioForm(buscarUsuario)">
        <div class="form-row">
            <div class="col-lg-6 col-md-6 col-sm-12 my-1">
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic1" style="width: -webkit-fill-available;" ngbDropdownToggle>{{selectedCalibradorText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let calibrador of calibradores" (click)="changeSelectedCalibrador(calibrador)">{{calibrador.nombre}}</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 my-1">
                <input #dpFromDate class="form-control " placeholder="yyyy-MM-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="d.toggle()" placeholder="Desde">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 my-1">
                <input #dpToDate class="form-control " placeholder="yyyy-MM-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" disabled placeholder="Hasta">
            </div>
            <div class="col-auto my-1">
                <button class="btn btn-primary form-control" (click)="buscarRegistroCalibrador();contarCajasCalibradorPorFecha()" type="submit">Buscar <i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
            <hr>
        </div>
        <div class="col">
            <div class="form-group hidden">
                <div class="input-group">
                    <input name="d" type="hidden" class="form-control" ngbDatepicker #d="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row" id="imprimirGraficoID" *ngIf="mostrarGrafico">
    <div class="col-12; no-printme">
        <h6 class="text-left">
            <b>Resultado de busqueda: {{selectedCalibradorText}} {{desde}} {{hasta}}</b>
        </h6>
    </div>
    <div class="col-12  align-self-end p-20" style="margin-bottom: 20px;">
        <div class="text-right">
            <button class="btn btn-info text-right"><i class="fas fa-box"></i>
                Total de cajas selladas: {{numBox}}
            </button>
        </div>
    </div>
    <br>
    <div class="col-12" style="margin-block-end: 20px">
        <h5 class="text-center">
            <b>Cajas selladas desde {{desde}} hasta {{hasta}} en {{selectedCalibradorText}}</b>
        </h5>
    </div>
    <!--********************************** GRAFICO ************************************-->

    <div class="col-1"></div>
    <div class="col-10">
        <div class="flex ">
            <div class="flex-item justify-content-center">
                <div style="display: block;">
                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
            <div class="flex-item; no-printme">
                <div class="col-md-12  align-self-end ">
                    <div class="text-right">
                        <button class="btn btn-primary  text-right" style="margin-top: 10px; margin-block-end: 30px;" (click)="imprimirGrafico()"><i class="fas fa-print"></i>
                            Imprimir gráfico
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>

    <!--***********************************************************************************-->
</div>
<div class="row justify-content-center; no-printme" *ngIf="nombre && apellido">
    <div class="col-10 " style="margin-top: 30px;">
        <h5 class="text-center">
            <b>Lista de registros {{selectedCalibradorText}} desde {{desde}} hasta {{hasta}}</b>
        </h5>
    </div>
    <!--Tabla de contenido-->
    <table class="table table-hover;  justify-content-center">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Código de barra</th>
                <th scope="col">Envase</th>
                <th scope="col">Linea</th>
                <th scope="col">Lector</th>
                <th scope="col">Puerto</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Verificado</th>
                <th scope="col">A tiempo</th>
                <th *ngIf="rol!=2" scope="col">Editar</th>
                <th *ngIf="rol == 2" scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produccion of produccionCalibrador  | paginate: {itemsPerPage: 10, currentPage:p}; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{produccion.codigo_de_barra}}</td>
                <td>{{produccion.envase_caja}}</td>
                <td>{{produccion.nombre_linea}}</td>
                <td>{{produccion.nombre_lector}}</td>
                <td>{{produccion.ip_lector}}</td>
                <td>{{produccion.rut_usuario}}</td>
                <td>{{produccion.nombre_usuario}}</td>
                <td>{{produccion.apellido_usuario}}</td>
                <td>{{produccion.fecha_sellado}}</td>
                <td>{{produccion.hora_sellado}}</td>
                <td>
                    <div *ngIf="produccion.is_verificado else verified"> si</div>
                    <ng-template #verified> no</ng-template>
                </td>
                <td>
                    <div *ngIf="produccion.is_before_time else to_time"> si</div>
                    <ng-template #to_time> no</ng-template>
                </td>
                <td>
                    <button class="btn btn-primary text-white mr-1" *ngIf="rol!=2" (click)="onEditar(produccion);open(mymodaleditar)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12  align-self-end ; no-printme">
        <div class="text-right">
            <button class="btn btn-primary  text-right" (click)="exportarArchivoExcel()"><i class="fas fa-download"></i>
                Exportar a excel
            </button>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="pagination justify-content-center ; no-printme " *ngIf="nombre && apellido">
            <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
</div>





<!--modal editar-->
<ng-template #mymodaleditar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar registro de colaborador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentSeguimientoSelected.id" name="id" id="id">
            </div>
            <div class="form-group">

                <div class="col-md-4  align-self-end text-left ">
                    <div ngbDropdown>
                        <label for="patentelabel"><b>Verificado:</b></label>
                        <button class="btn btn-outline-primary " id="dropdownBasic2" ngbDropdownToggle style="width: 180px">{{SearchTextVerified}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            <button class="dropdown-item" *ngFor="let option of dropDownVerified" (click)="changeSelectedVerified(option)">{{option.opcion}}</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  align-self-end text-left ">
                    <div ngbDropdown>
                        <label for="patentelabel"><b>a tiempo:</b></label>
                        <button class="btn btn-outline-primary " id="dropdownBasic" ngbDropdownToggle style="width: 180px">{{SearchTextToTime}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                            <button class="dropdown-item" *ngFor="let option of dropDownToTime" (click)="changeSelectedToTime(option)">{{option.opcion}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="editarRegistroProduccion(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->