<div class="row">
    <div class="col-12 ">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Colaborador</b></h1>
            </div>
        </div>
        <br>
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-3 col-sm-12 my-1 align-self-end">

                <div class="text-right">
                    <button class="btn btn-primary form-control" style="margin-block-end: 20px;" *ngIf="rol!=2" (click)="open(modal_agregar_usuario,'1')"><i class="fa fa-plus-circle"></i>
                            Agregar colaborador
                          </button>
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="row align-self-start" *ngIf="usuarios">
        <div class="col-12 text-left">
            <h4>Lista de colaboradores</h4>
        </div>
    </div>
    <!--Tabla de contenido-->
    <table class="table table-hover" *ngIf="usuarios">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Rfid</th>
                <th *ngIf="rol!=2" scope="col">Editar</th>
                <th *ngIf="rol!=2" scope="col">Eliminar</th>
                <th *ngIf="rol == 2" scope="col"> </th>
                <th *ngIf="rol == 2" scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{usuario.rut}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.rfid}}</td>
                <td>
                    <button class="btn btn-primary text-white mr-1" *ngIf="rol!=2" (click)="onEditar(usuario);open(modal_editar_usuario,'0')">
                        <i class="fa fa-edit" ></i>
                      </button>
                </td>
                <td>
                    <button class="btn btn-danger text-white mr-1" *ngIf="rol!=2" (click)="onEliminar(usuario);open(modal_confirmar_eliminacion_usuario,'0')">
                        <i class="fa fa-trash" ></i>
                      </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<!--modal agregar-->
<ng-template #modal_agregar_usuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar colaborador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">×</span>
</button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">

            <div class="form-group">
                <label for="lineaLabel"><b>Rut:</b></label>
                <div class="input-group">
                    <input type="text" #rut='ngModel' [(ngModel)]="rutUsuario" name="rut" id="rut" class="form-control" class="form-control" placeholder="Ej: 9605009-7" required maxlength="10" rutValidation>
                </div>

                <div *ngIf="rut.invalid && (nombre.dirty || rut.touched)" class="alert alert-danger">
                    <div *ngIf="rut.errors.required">
                        Rut de usuario es obligatorio
                    </div>
                    <div *ngIf="rut.errors.rutValidation">
                        {{rut.errors.rutValidation.message}}
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Nombre:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="nombreUsuario" name="nombre" id="nombre" class="form-control" placeholder="Nombre" class="form-control" required [ngClass]="{ 'is-invalid': submitted && rut.errors }">
                </div>

                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de usuario es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Apellido:</b></label>
                <div class="input-group">
                    <input type="text" #apellido='ngModel' [(ngModel)]="apellidoUsuario" name="apellido" id="apellido" class="form-control" placeholder="Apellido" class="form-control" required [ngClass]="{ 'is-invalid': submitted && rut.errors }">
                </div>

                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                    <div *ngIf="apellido.errors.required">
                        Apellido de usuario es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Rfid:</b></label>
                <div class="input-group">
                    <input type="text" #rfid='ngModel' [(ngModel)]="registerRfid.codigo" name="rfid" id="rfid" class="form-control" placeholder="Rfid" class="form-control" required [ngClass]="{ 'is-invalid': submitted && rut.errors }">
                </div>

                <div *ngIf="rfid.invalid && (rfid.dirty || rfid.touched)" class="alert alert-danger">
                    <div *ngIf="rfid.errors.required">
                        Rfid de usuario es obligatorio
                    </div>
                </div>
            </div>

        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="agregarUsuario(myform);modal.close('Save click')">Agregar</button>
        </div>
    </div>
</ng-template>
<!--fin modal agregar-->

<!--modal editar-->
<ng-template #modal_editar_usuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar colaborador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentUsuarioSelected.id" name="id" id="id">
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Rut:</b></label>
                <div class="input-group">
                    <input type="text" #rut='ngModel' [(ngModel)]="currentUsuarioSelected.rut" name="rut" id="rut" class="form-control" placeholder="Rut
                    " class="form-control" required [ngClass]="{ 'is-invalid': submitted && rut.errors }">
                </div>

                <div *ngIf="rut.invalid && (nombre.dirty || rut.touched)" class="alert alert-danger">
                    <div *ngIf="rut.errors.required">
                        Rut de usuario es obligatorio
                    </div>
                    <div *ngIf="rut.errors.rutValidation">
                        {{rut.errors.rutValidation.message}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Nombre:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="currentUsuarioSelected.nombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre" class="form-control">
                </div>

                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de usuario es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Apellido:</b></label>
                <div class="input-group">
                    <input type="text" #apellido='ngModel' [(ngModel)]="currentUsuarioSelected.apellido" name="apellido" id="apellido" class="form-control" placeholder="Apellido" class="form-control">
                </div>

                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
                    <div *ngIf="apellido.errors.required">
                        Apellido de usuario es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Rfid:</b></label>
                <div class="input-group">
                    <input type="text" #rfid='ngModel' [(ngModel)]="currentUsuarioSelected.rfid" name="rfid" id="rfid" class="form-control" placeholder="Rfid" class="form-control" required [ngClass]="{ 'is-invalid': submitted && rut.errors }">
                </div>

                <div *ngIf="rfid.invalid && (rfid.dirty || rfid.touched)" class="alert alert-danger">
                    <div *ngIf="rfid.errors.required">
                        Rfid de usuario es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="editarUsuario(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->

<!--Modal confirmación de eliminación-->
<ng-template #modal_confirmar_eliminacion_usuario let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar Usuario</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        <p>¿Seguro que deseas eliminar este Usuario?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion eliminación-->