<div class="row justify-content-start">
    <div class="col-12">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Lectores en lineas</b></h1>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">

            <div class="col-md-4  align-self-end text-left ">
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle style="margin: 10px">{{selectedCalibradorText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let calibrador of calibradores" (click)="changeSelectedCalibrador(calibrador)">{{calibrador.nombre}}</button>
                    </div>
                </div>

            </div>
            <div class="col-md-4  align-self-end text-left ">
                <div ngbDropdown>
                    <button class="btn btn-outline-primary " id="dropdownBasic2" ngbDropdownToggle style="margin: 10px">{{selectedLineaText}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <button class="dropdown-item" *ngFor="let linea of lineas" (click)="changeSelectedLinea(linea)">{{linea.nombre}}</button>
                    </div>
                </div>

            </div>
            <div class="col-md-4  align-self-end ">
                <div class="text-right" *ngIf="selectedCalibradorObject && selectedLineaObject">
                    <button class="btn btn-primary  text-right" (click)="open(modal_agregar_lector)"><i class="fa fa-plus-circle"></i>
                      Agregar lector
                    </button>
                </div>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="selectedCalibradorObject && selectedLineaObject">
            <div class="col-12 ">
                <h3>Lista de lectores</h3>
            </div>
        </div>
        <!--Tabla de contenido-->
        <table class="table table-hover" *ngIf="selectedCalibradorObject && selectedLineaObject">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">ip</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lector of lectores; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{lector.nombre}}</td>
                    <td>{{lector.ip}}</td>
                    <td>
                        <button class="btn btn-primary text-white mr-1" (click)="onEditar(lector);open(modal_editar_lector)">
                          <i class="fa fa-edit" ></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger text-white mr-1" (click)="onEliminar(lector);open(modal_confirmar_eliminacion)">
                          <i class="fa fa-trash-alt" ></i>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!--modal agregar-->
<ng-template #modal_agregar_lector let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Lector</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <div class="form-group">

                <label for="lineaLabel"><b>Nombre lector:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="nombreLector" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                </div>

                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de lector es obligatorio
                    </div>
                </div>
                <br>
                <label for="lineaLabel"><b>Dirección IP:</b></label>
                <div class="input-group">
                    <input type="text" #nombre2='ngModel' [(ngModel)]="ipLector" name="ip" id="ip" class="form-control" placeholder="Dirección ip">
                </div>

                <div *ngIf="nombre2.invalid && (nombre2.dirty || nombre2.touched)" class="alert alert-danger">
                    <div *ngIf="nombre2.errors.required">
                        Dirección ip es obligatoria
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="agregarLector(myform);modal.close('Save click')">Agregar</button>
        </div>
    </div>
</ng-template>
<!--fin modal agregar-->

<!--modal editar-->
<ng-template #modal_editar_lector let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar lector</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentLectorSelected.id" name="id" id="id">
            </div>
            <div class="form-group">

                <label for="lineaLabel"><b>Nombre lector:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="currentLectorSelected.nombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                </div>

                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de lector es obligatorio
                    </div>
                </div>
                <br>
                <label for="lineaLabel"><b>Dirección IP:</b></label>
                <div class="input-group">
                    <input type="text" #nombre2='ngModel' [(ngModel)]="currentLectorSelected.ip" name="ip" id="ip" class="form-control" placeholder="Dirección ip">
                </div>

                <div *ngIf="nombre2.invalid && (nombre2.dirty || nombre2.touched)" class="alert alert-danger">
                    <div *ngIf="nombre2.errors.required">
                        Dirección ip es obligatoria
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="editarLector(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->

<!--Modal confirmación de eliminación-->
<ng-template #modal_confirmar_eliminacion let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar lector</h4>
        <button type="button" class="btn btn-outline-danger" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    <div class="modal-body">
        <p>¿Seguro que deseas eliminar este lector?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion eliminación-->