
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-2">
                <app-menubar *ngIf="isLoggedIn"></app-menubar>
            </div>
            <div class="col-9" *ngIf="showMenu else elseShowMenu">
                <router-outlet class="p-20"></router-outlet>
            </div>
            <ng-template #elseShowMenu>
                <div class="col-11">
                    <router-outlet class="p-20"></router-outlet>
                </div>
            </ng-template>
        </div>
    </div>
