<div class="row justify-content-start">
    <div class="col-12">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Calibrador</b></h1>
            </div>
        </div>
        <br>
        <div class="row justify-content-end">
            <div class="col-lg-3 col-md-3 col-sm-12 my-1 align-self-end">
                <div class="text-center">
                    <button class="btn btn-primary form-control text-center" *ngIf="rol != 2" (click)="open(mymodalagregar)"><i class="fa fa-plus-circle"></i>
            Agregar Calibrador</button>
                </div>
            </div>
        </div>
        <br>
        <!--<div class="row" *ngIf="lineas">
      <div class="col-12">
        <h5>Lista de líneas de sellado</h5>
      </div>
    </div>-->
        <!--Tabla de contenido-->
        <table class="table table-hover" *ngIf="bandera == true">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad de cajas por minuto</th>
                    <th *ngIf="rol != 2" scope="col">Editar</th>
                    <th *ngIf="rol != 2" scope="col">Eliminar</th>
                    <th *ngIf="rol == 2" scope="col"> </th>
                    <th *ngIf="rol == 2" scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let calibrador of calibradores; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{calibrador.nombre}}</td>
                    <td>{{calibrador.cajas_por_minuto}}</td>
                    <td>
                        <button class="btn btn-primary text-white mr-1" *ngIf="rol != 2" (click)="onEditar(calibrador);open(mymodaleditar)">
              <i class="fa fa-edit"></i>
            </button>
                    </td>
                    <td>
                        <button class="btn btn-danger text-white mr-1" *ngIf="rol != 2" (click)="onEliminar(calibrador,mymodalconfirmar)">
              <i class="fa fa-trash"></i>
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--modal agregar-->
<ng-template #mymodalagregar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar calibrador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <div class="form-group">
                <label for="lineaLabel"><b>Nombre Calibrador:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="nombreCalibrador" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required [ngClass]="{ 'is-invalid': submitted && linea.errors }">
                </div>

                <!--Valida formulario nombre-->
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de calibrador es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lineaLabel"><b>Cantidad de cajas por minuto:</b></label>
                <div class="input-group">
                    <input type="number" #cantidadCajas='ngModel' [(ngModel)]="cantidadCajasCalibrador" name="cantidadCajas" id="cantidadCajas" class="form-control" placeholder="Cantidad de cajas por minuto" required [ngClass]="{ 'is-invalid': submitted && cantidadCajas.errors }">
                </div>

                <!--Valida formulario nombre-->
                <div *ngIf="cantidadCajas.invalid && (cantidadCajas.dirty || cantidadCajas.touched)" class="alert alert-danger">
                    <div *ngIf="cantidadCajas.errors.required">
                        Cantidad de cajas por minuto es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="agregarCalibrador(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal agregar-->

<!--modal editar-->
<ng-template #mymodaleditar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Calibrador</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentCalibradorSelected.id" name="id" id="id">
            </div>
            <div class="form-group">
                <label for="patentelabel"><b>Nombre calibrador:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="currentCalibradorSelected.nombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                </div>
                <!--Valida formulario nombre-->
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de calibrador es obligatorio
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="patentelabel"><b>Cantidad de cajas por minuto:</b></label>
                <div class="input-group">
                    <input type="number" #cantidadCajas='ngModel' [(ngModel)]="currentCalibradorSelected.cajas_por_minuto" name="cantidadCajas" id="cantidadCajas" class="form-control" placeholder="Cantidad de cajas por minuto" required>
                </div>
                <!--Valida formulario nombre-->
                <div *ngIf="cantidadCajas.invalid && (cantidadCajas.dirty || cantidadCajas.touched)" class="alert alert-danger">
                    <div *ngIf="cantidadCajas.errors.required">
                        Cantidad de cajas por minuto es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" [disabled]="!myform.valid" class="btn btn-primary" (click)="editarCalibrador(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->

<!--Modal confirmación-->
<ng-template #mymodalconfirmar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Eliminar calibrador</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>¿Seguro que quieres eliminar el calibrador?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion-->