<div class="row">
    <div class="col-12 ">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Seguimiento de cajas</b></h1>
            </div>
        </div>
        <hr>
        <div class="col-12 " style="margin-left: 60px;">
            <form #buscarUsuario="ngForm" (ngSubmit)="onSubmitBuscarUsuarioForm(buscarUsuario)">
                <div class="form-row">
                    <div class="col-lg-4 col-md-12 align-self-start  ">
                        <div ngbDropdown>
                            <button class="btn btn-outline-primary  " id="dropdownBasic1" ngbDropdownToggle style="width: 190px">{{SearchText}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item" *ngFor="let search of dropDownSearch" (click)="changeSelectedSearch(search)">{{search.nombre}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12  align-self-start ">
                        <div ngbDropdown>
                            <button class="btn btn-outline-primary " id="dropdownBasic1" ngbDropdownToggle style="width: 210px">{{selectedCalibradorText}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item" *ngFor="let calibrador of calibradores" (click)="changeSelectedCalibrador(calibrador)">{{calibrador.nombre}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12  align-self-start ">
                        <div ngbDropdown>
                            <button class="btn btn-outline-primary " id="dropdownBasic2" ngbDropdownToggle style="width: 190px">{{selectedLineaText}}</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                <button class="dropdown-item" *ngFor="let linea of lineas" (click)="changeSelectedLinea(linea)">{{linea.nombre}}</button>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col">
                    <div class="form-group hidden">
                        <div class="input-group">
                            <input name="d" type="hidden" class="form-control" ngbDatepicker #d="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-12">
                <input type="text" #envase='ngModel' [(ngModel)]="toSearch" name="rut" id="rut" class="form-control" placeholder="Criterio">
            </div>
            <div class="col-lg-3 col-md-12">
                <input #dpFromDate class="form-control " placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="d.toggle()" placeholder="Desde">
            </div>
            <div class="col-lg-3 col-md-12">
                <input #dpToDate class="form-control " placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" disabled placeholder="Hasta">
            </div>
            <div class="col-lg-2 col-md-6">
                <button class="ml-1 btn btn-primary btn-sm form-control" (click)="buscarPorCriterio()" type="submit " style="margin-top: 2px">Buscar <i class="fas fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <hr>
    </div>
    <br>
    <div class="col-md-12  align-self-end p-20" style="margin-bottom: 20px;">
        <div class="text-right" *ngIf="nombreColaborador">
            <button class="btn btn-info text-left "><i class="fas fa-box"></i>
                Total de {{toSearch}} selladas: {{numBox}}
            </button>
        </div>
    </div>


    <div class="row col-lg-12" *ngIf="nombreColaborador">
        <div class="col-md-12 ">
            <h4>Lista de registros de cajas</h4>
        </div>
    </div>
    <!--Tabla de contenido-->
    <table class="table table-hover" *ngIf="nombreColaborador ">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">id envase</th>
                <th scope="col">Envase</th>
                <th scope="col">Nombre calibrador</th>
                <th scope="col">Nombre linea</th>
                <th scope="col">Rut usuario</th>
                <th scope="col">Nombre usuario</th>
                <th scope="col">Apellido usuario</th>
                <th scope="col">Fecha sellado</th>
                <th scope="col">Hora sellado</th>
                <th scope="col">Verificado</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let seguimiento of seguimientoDeCajas  | paginate: {itemsPerPage: 20, currentPage:p}; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{seguimiento.id_caja}}</td>
                <td>{{seguimiento.envase_caja}}</td>
                <td>{{seguimiento.nombre_calibrador}}</td>
                <td>{{seguimiento.nombre_linea}}</td>
                <td>{{seguimiento.rut_usuario}}</td>
                <td>{{seguimiento.nombre_usuario}}</td>
                <td>{{seguimiento.apellido_usuario}}</td>
                <td>{{seguimiento.fecha_sellado}}</td>
                <td>{{seguimiento.hora_sellado}}</td>
                <td>{{seguimiento.is_verificado}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination" *ngIf="nombreColaborador">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
</div>