<div class="row justify-content-start" style="padding-top: 25px;">
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Apertura/Cierre de Turno</b></h1>
            </div>
        </div>
        <div class="form-row">

            <div class="col-sm-2 my-1">
                <label for="Desde:">Desde:</label>
                <div class="form-group">
                    <div class="input-group">
                        <input #dpFromDate class="form-control  ml-1" placeholder="yyyy-MM-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="d.toggle()">
                    </div>
                </div>
            </div>

            <div class="col-sm-2 my-1">
                <label for="">Hasta:</label>
                <div class="form-group">
                    <div class="input-group">
                        <input #dpToDate class="form-control  ml-1" placeholder="yyyy-MM-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" disabled>
                    </div>
                </div>
            </div>

            <div class="col-auto my-1">
                <button class="ml-1 btn btn-primary" (click)="buscarPorFecha()" type="submit " style="margin-top: 33px;">Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="d" type="hidden" class="form-control" ngbDatepicker #d="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                {{ date.day }}
              </span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" *ngIf="mostrar">
                <h4 class="text-left">Lista de turnos</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <form #buscarPatenteRobadaForm="ngForm" *ngIf="mostrar" (ngSubmit)="exportarArchivoExcel()">
                    <!--Tabla de contenido-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Fecha inicio</th>
                                <th scope="col">Hora inicio</th>
                                <th scope="col">Nombre inicio</th>
                                <th scope="col">Apellido inicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let turno of turnos | paginate: {itemsPerPage: 10, currentPage:p} ; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{turno.fecha_apertura}}</td>
                                <td>{{turno.hora_apertura}}</td>
                                <td>{{turno.nombre_administrador_apertura}}</td>
                                <td>{{turno.apellido_administrador_apertura}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <form #buscarPatenteRobadaForm="ngForm" *ngIf="mostrar" (ngSubmit)="exportarArchivoExcel()">
                    <!--Tabla de contenido-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Fecha cierre</th>
                                <th scope="col">Hora cierre</th>
                                <th scope="col">Nombre cierre</th>
                                <th scope="col">Apellido cierre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let turno of turnos | paginate: {itemsPerPage: 10, currentPage:p} ; let i = index">
                                <td>{{turno.fecha_cierre}}</td>
                                <td>{{turno.hora_cierre}}</td>
                                <td>{{turno.nombre_administrador_cierre}}</td>
                                <td>{{turno.apellido_administrador_cierre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-12  align-self-end ; no-printme">
        <div class="text-right">
            <button class="btn btn-primary  text-right" *ngIf="mostrar" style="margin: 10px;" (click)="exportarArchivoExcel()"><i class="fa fa-download"></i>
                Exportar a excel
            </button>
        </div>
    </div>
    <!--<div class="input-group-append align-self-end" style="float:right">
        <button class="ml-1 btn btn-primary" (click)="exportarArchivoExcel()" type="submit "><i class="fas fa-download"></i> Exportar a excel</button>
    </div>-->
</div>
<div class="pagination " *ngIf="mostrar">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
</div>