<!-- menu vertical -->
<nav id="menu" class="left show" style="height: 100%">
    <ul style="height: 90%">
        <!--<li><a routerLink="/monitoreo"><i class="fa fa-bar-chart"></i>Monitoreo</a></li>-->

        <li (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)">
            <a #monitoreo><i class="fa fa-line-chart"></i>Monitoreo <i class="fa fa-caret-down"></i></a>
            <ul>
                <li *ngIf="expandItem == 5" (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/monitoreo"><i class="fa fa-line-chart"></i>General</a></li>
                <li *ngIf="expandItem == 5" (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="monitoreocalibrador1"><i class="fa fa-line-chart"></i>Calibrador 1</a></li>
                <li *ngIf="expandItem == 5" (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="monitoreocalibrador2"><i class="fa fa-line-chart"></i>Calibrador 2</a></li>
                <li *ngIf="expandItem == 5" (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="monitoreousuarioenlinea"><i class="fa fa-line-chart"></i>Colaborador en selladora</a></li>
                <li *ngIf="rol == 0 && expandItem == 5" (click)="setCurrentItem(5,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="monitoreoSistema"><i class="fa fa-line-chart"></i>Sistema</a></li>
            </ul>
        </li>

        <li (click)="setCurrentItem(1,produccion,administrar,registros,seguimiento,monitoreo)">
            <a #produccion><i class="fa fa-line-chart"></i>Producción <i class="fa fa-caret-down"></i></a>
            <ul>
                <li *ngIf="expandItem == 1" (click)="setCurrentItem(1,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/produccionporcalibrador"><i class="fa fa-line-chart"></i>Calibrador</a></li>
                <li *ngIf="expandItem == 1" (click)="setCurrentItem(1,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/produccionporlinea"><i class="fa fa-line-chart"></i>Línea</a></li>
                <li *ngIf="expandItem == 1" (click)="setCurrentItem(1,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/produccioncolaborador"><i class="fa fa-line-chart"></i>Colaborador</a></li>
            </ul>
        </li>
        <li (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)">
            <a #administrar><i class="fa fa-plus-circle"></i>Administrar <i class="fa fa-caret-down"></i></a>
            <ul>
                <li *ngIf="expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/caja"><i class="fa fa-dropbox"></i>Caja sellado</a></li>
                <li *ngIf="expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/usuario"><i class="fa fa-users"></i>Colaborador</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/administrador"><i class="fa fa-user"></i>Administrador</a></li>
                <li *ngIf="rol != 2  && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/usuarioadmin"><i class="fa fa-user"></i>Usuario</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/calibrador"><i class="fa fa-sitemap"></i>Calibradora</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/lineas"><i class="fa fa-bars"></i>Líneas</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/lector"><i class="fa fa-barcode"></i>Lector</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/lectorValidador"><i class="fa fa-barcode"></i>Lector Validador</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/rfid"><i class="fa fa-tags"></i>RFID</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/rfidSalida"><i class="fa fa-tags"></i>RFID Salida</a></li>
                <li *ngIf="rol == 0 && expandItem == 2" (click)="setCurrentItem(2,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/rfidRegistroColaborador"><i class="fa fa-tags"></i>RFID Registro Colaborador</a></li>
            </ul>
        </li>
        <li (click)="setCurrentItem(4,produccion,administrar,registros,seguimiento,monitoreo)">
            <a #seguimiento><i class="fa fa-search"></i>Buscar <i class="fa fa-caret-down"></i></a>
            <ul>
                <li *ngIf="expandItem == 4" (click)="setCurrentItem(4,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/seguimientodecajas"><i class="fas fa-box "></i>Seguimiento de cajas selladas</a></li>
                <li *ngIf="expandItem == 4" (click)="setCurrentItem(4,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/codigoUnitec"><i class="fa fa-dropbox"></i>Seguimiento de cajas UNITEC</a></li>
                <li *ngIf="expandItem == 4" (click)="setCurrentItem(4,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/usuarioenlinea"><i class="fa fa-users"></i>Colaborador en línea</a></li>
            </ul>
        </li>
        <li (click)="setCurrentItem(3,produccion,administrar,registros,seguimiento,monitoreo)">
            <a #registros><i class="fa fa-list-ul"></i>Registros <i class="fa fa-caret-down"></i></a>
            <ul>
                <li *ngIf="expandItem == 3" (click)="setCurrentItem(3,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/turnos"><i class="fa fa-bars"></i>Turnos</a></li>
                <li *ngIf="expandItem == 3" (click)="setCurrentItem(3,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/registro"><i class="fa fa-bars"></i>Registro-admin</a></li>
                <li *ngIf="expandItem == 3" (click)="setCurrentItem(3,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/registroProduccion"><i class="fa fa-bars"></i>Registro-prod</a></li>
                <li *ngIf="rol == 0 && expandItem == 3" (click)="setCurrentItem(3,produccion,administrar,registros,seguimiento,monitoreo)"><a routerLink="/registroDev"><i class="fa fa-bars"></i>Registro-dev</a></li>
            </ul>
        </li>
        <!--
        <li><a routerLink="/configuracion"><i class="fa fa-cog"></i>Configuración</a></li>
        -->


        <!--
    <li><a routerLink="/turnos"><i class="fa fa-list-ul"></i>Registro de turnos</a></li>
    <li>
      <a><i class="fa fa-bars"></i>Registro <i class="fa fa-caret-down"></i></a>
      <ul>
        <li><a routerLink="/sellado"><i class="fa fa-list-ul"></i>Sellado</a></li>            
      </ul>
    </li>
    -->
    </ul>
    <ul style="height: 10%">
        <li><a routerlink="/auth/login" (click)="logout()"><i class="fa fa-sign-out"></i>Cerrar sesión</a></li>
    </ul>
    <a id="showmenu" (click)="showMenu()">
        <i class="fa fa-align-justify"></i>
    </a>
</nav>
<!-- /menu vertical -->