<div class="row">
    <div class="col-12 ">
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center"><b>Producción por colaborador</b></h1>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <form #buscarUsuario="ngForm" (ngSubmit)="onSubmitBuscarUsuarioForm(buscarUsuario)">
                <div class="form-row">

                    <div class="col-sm-4 my-1">
                        <label for="Desde:">Envase:</label>
                        <input type="text" #envase='ngModel' [(ngModel)]="rutBusqueda" name="rut" id="rut" class="form-control" placeholder="Rut Colaborador">
                    </div>
                    <div class="col-sm-2 my-1">
                        <label for="Desde:">Desde:</label>
                        <input #dpFromDate class="form-control " placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="d.toggle()" placeholder="Desde">
                    </div>
                    <div class="col-sm-2 my-1">
                        <label for="">Hasta:</label>
                        <input #dpToDate class="form-control " placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" disabled placeholder="Hasta">
                    </div>
                    <div class="col-auto my-1">
                        <button class="ml-1 btn btn-primary btn-sm" (click)="buscarUsuarioPorRut()" type="submit " style="margin-top: 33px;">Buscar <i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group hidden">
                        <div class="input-group">
                            <input name="d" type="hidden" class="form-control" ngbDatepicker #d="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                  {{ date.day }}
                              </span>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </div>
    <!--********************************** GRAFICO ************************************-->
    <div class="flex">
        <div class="flex-item">
            <div style="display: block;">
                <canvas baseChart width="600" height="300" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="flex-item">
            <div class="col-md-12  align-self-end ">
                <div class="text-right">
                    <button class="btn btn-primary  text-right" (click)="imprimirGrafico()"><i class="fas fa-print"></i>
                      Imprimir gráfico
                  </button>
                </div>
            </div>
            <button mat-button mat-raised-button color="primary" (click)="randomize()">Randomize</button>
            <button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>
            <button mat-button mat-raised-button color="primary" (click)="changeColor()">Recolor</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>
        </div>
    </div>
    <!--***********************************************************************************-->>
    <br>
    <div class="row ">
        <div class="col-md-12 " style="margin-top: 30px;">
            <h5>Lista de registros de Cristian Farias desde 05-11-2020 hasta 05-12-2020</h5>
        </div>
    </div>
    <!--Tabla de contenido-->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Código de barra</th>
                <th scope="col">Linea</th>
                <th scope="col">Lector</th>
                <th scope="col">Puerto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Verificado</th>
                <th scope="col">A tiempo</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produccion of produccionColaborador  | paginate: {itemsPerPage: 20, currentPage:p}; let i = index">
                <th scope="row">{{i+1}}</th>
                <!--<td>{{produccion.id_caja}}</td>
                <td>{{produccion.envase_caja}}</td>
                <td>{{produccion.nombre_calibrador}}</td>
                <td>{{produccion.nombre_linea}}</td>
                <td>{{produccion.rut_usuario}}</td>
                <td>{{produccion.nombre_usuario}}</td>
                <td>{{produccion.apellido_usuario}}</td>
                <td>{{produccion.fecha_sellado}}</td>
                <td>{{produccion.is_verificado}}</td> -->
                <td>
                    <button class="btn btn-primary text-white mr-1" (click)="onEditar(produccion);open(mymodaleditar)">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12  align-self-end ">
        <div class="text-right">
            <button class="btn btn-primary  text-right" (click)="imprimirGrafico()"><i class="fas fa-download"></i>
            Exportar a excel
        </button>
        </div>
    </div>
</div>
<div class="pagination">
    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
</div>


<!--modal editar-->
<ng-template #mymodaleditar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar registro de colabordor</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <!--Id de linea clickeada se almacena en un input hidden-->
            <div class="form-group">
                <input type="hidden" ngModel [(ngModel)]="currentSeguimientoSelected.id" name="id" id="id">
            </div>
            <div class="form-group">
                <label for="patentelabel"><b>Nombre colaborador:</b></label>
                <div class="input-group">
                    <input type="text" #nombre='ngModel' [(ngModel)]="nombrexd" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                </div>
                <!--Valida formulario nombre-->
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors.required">
                        Nombre de calibrador es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="editarCalibrador(myform);modal.close('Save click')">Guardar</button>
        </div>
    </div>
</ng-template>
<!--fin modal editar-->