<div class="row">
    <div class="col-12 ">
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-md-10 text-right">
                <h3><b>{{ time | date: 'HH:mm:ss a'}}</b></h3>
            </div>
            <div class="col-1"></div>
            <div class="col-12 text-center" style="margin-top: 30px;">
                <h1><b>Monitoreo Calibrador 2</b></h1>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> <b>Calibrador 2</b></h5>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 my-1">
                                <div class="card">
                                    <div class="card-body" style="padding: 6px;">
                                        <h1 class="card-title text-center"><b>{{totalHora2}}</b></h1>
                                        <p class="card-text text-center"><b>Promedio de cajas selladas de la última hora
                                                por
                                                minuto</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 my-1">
                                <div class="card">
                                    <div class="card-body" style="padding: 6px;">
                                        <h1 class="card-title text-center"><b>{{totalMinuto2}}</b></h1>
                                        <p class="card-text text-center"><b>Promedio de cajas selladas del turno por
                                                minuto</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 my-1">
                                <div class="card">
                                    <div class="card-body" style="padding: 6px;">
                                        <h1 class="card-title text-center"><b>{{totalTurno2}}</b></h1>
                                        <p class="card-text text-center"><b>Total de cajas selladas del turno</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-lg-10">
                <div style="display: block; ">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                        [options]="barChartOptions" [plugins]="barChartPlugins" [colors]="barChartColors"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>