<div class="row">
    <div class="col-12 ">
        <div class="row justify-content-end">
            <div class="col-1"></div>
            <div class="col-lg-3 col-md-3 col-sm-12 my-1 text-right">
                <h3><b>{{ time | date: 'HH:mm:ss a'}} </b></h3>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 my-1 text-right">
                <button class="btn {{botonIniciarTurnoClass}} form-control" [disabled]="isDisabled"
                    (click)=open(myModalAutenticar)>{{botonIniciarTurnoText}}
                </button>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="col-12 text-center" style="margin-top: 0px;">
        <h3><b>Monitoreo Calibrador 2</b></h3>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-md-4 my-1">
                <div class="card">
                    <div class="card-body" style="padding: 2px;">
                        <h2 class="card-title text-center"><b>{{totalHora2}}</b></h2>
                        <p class="card-text text-center"><b>Promedio de cajas selladas de la última
                                hora por minuto</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 my-1">
                <div class="card">
                    <div class="card-body" style="padding: 2px;">
                        <h2 class="card-title text-center"><b>{{totalMinuto2}}</b></h2>
                        <p class="card-text text-center"><b>Promedio de cajas selladas del turno por
                                minuto</b></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 my-1">
                <div class="card">
                    <div class="card-body" style="padding: 2px;">
                        <h2 class="card-title text-center"><b>{{totalTurno2}}</b></h2>
                        <p class="card-text text-center"><b>Total de cajas selladas del turno</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-12 text-center" style="margin-top: 15px;">
                <h4><b>Producción por Línea</b></h4>
            </div>
        </div>
    </div>
    -->

    <div class="col-12">
        <div class="row justify-content-center">
            <div class="col-1"></div>
            <div class="col-10 my-1" *ngIf="barChartOptions">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [colors]="barChartColors" [legend]="barChartLegend"
                    [chartType]="barChartType" style="max-height: 420px;">
                </canvas>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<div #scrollMe2 id="scrollMe2"></div>

<!--Modal confirmación-->
<ng-template #mymodalconfirmar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">{{IniciarCerrar}} turno</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>¿Seguro que quieres {{iniciarCerrar}} turno?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="modal.dismiss('ok')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal confirmacion-->

<!--modal autenticacion-->
<ng-template #myModalAutenticar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Autenticación</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myform="ngForm">
            <div class="form-group">
                <label for="lineaLabel"><b>Rut:</b></label>
                <div class="input-group">
                    <input type="text" #rut='ngModel' [(ngModel)]="rutAdmin" name="rut" id="rut" class="form-control"
                        placeholder="Ej: 9605009-7" required maxlength="10" rutValidation>
                </div>

                <!--Valida formulario nombre-->
                <div *ngIf="rut.invalid && (rut.dirty || rut.touched)" class="alert alert-danger">
                    <div *ngIf="rut.errors.required">
                        Rut es obligatorio
                    </div>
                    <div *ngIf="rut.errors.rutValidation">
                        {{rut.errors.rutValidation.message}}
                    </div>
                </div>

                <label for="lineaLabel"><b>Contraseña:</b></label>
                <div class="input-group">
                    <input type="password" #password='ngModel' [(ngModel)]="passAdmin" name="password" id="password"
                        class="form-control" placeholder="Contraseña">
                </div>

                <!--Valida formulario contraseña-->
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                        Contraseña es obligatorio
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancelar</button>
            <button type="submit" class="btn btn-primary"
                (click)="autenticarTurno(mymodalconfirmar);modal.close('Save click')">Autenticar</button>
        </div>
    </div>
</ng-template>
<!--fin modal autenticacion-->

<!--Modal iniciar turno-->
<ng-template #mymodaliniciarturno let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">No se ha iniciado turno</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <img src="assets/images/info.png" width="50px">
        <h5 class="mt-3">¿Quieres iniciar turno?</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" class="btn btn-primary"
            (click)="open(myModalAutenticar);modal.dismiss('aceptar click')">Aceptar</button>
    </div>
</ng-template>
<!--fin modal autenticacion-->